h1#h1-ash { 
    margin-left: 400px; 
    color:gold;   
    font-size:65
}
h1#h1-charmander {
    margin-left:400px; 
    color:gold; 
    font-size:65px;
}
#div-pokemon {
    background-color: blueviolet;
}

